.items-image {
  width: 180px;
  height: 150px;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .items-image {
    width: 160px;
    height: 110px;
  }
}
.rating-card {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.item-container {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-bottom: 25px;
}
.item-text {
  margin-left: 15px;
}
.restaurant-name {
  font-size: 16px;
  font-family: 'DM Sans';
  font-weight: 600;
  color: #334155;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .restaurant-name {
    font-size: 14px;
  }
  .item-container {
    width: 300px;
    margin-right: 30px;
  }
}
.cuisine-name {
  font-size: 18px;
  font-family: 'DM Sans';
  font-weight: 500;
  color: #64748b;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .cuisine-name {
    font-size: 14px;
  }
}
.star {
  color: #ffcc00;
  width: 25px;
}

.rating {
  font-size: 18px;
  font-family: 'DM Sans';
  font-weight: 600;
  color: #334155;
  margin-left: 5px;
  margin-right: 5px;
}
.total-reviews {
  font-size: 12px;
  font-family: 'DM Sans';
  font-weight: 500;
  color: #64748b;
}
@media screen and (min-width: 768px) {
  .rating {
    font-size: 12px;
  }
  .rating-card {
    margin-top: 0px;
    padding-top: 0px;
  }
  .total-reviews {
    font-size: 10px;
  }
}
