.header-container-for-small-device {
  display: flex;
  justify-content: space-between;
  background-color: #f8fafc;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.li-element {
  margin-left: 20px;
  color: #183b56;
  font-weight: 500;
  font-family: 'DM sans';
}
@media screen and (min-width: 786px) {
  .header-container-for-small-device {
    display: none;
  }
}

.link {
  text-decoration: none;
}
.header-container-for-large-device {
  display: none;
}

@media screen and (min-width: 786px) {
  .header-container-for-large-device {
    display: flex;
    justify-content: space-between;
    background-color: #f8fafc;
    padding-left: 70px;
    padding-right: 70px;
  }
  .menu-card-small-device {
    display: none;
  }
}
.active {
  color: red;
}
.text-color {
  color: #fcb10d;
}
.list-color {
  color: #fcb10d;
}
