.header-container-for-small-device {
  display: flex;
  justify-content: space-between;
  background-color: #f8fafc;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.li-element {
  margin-left: 20px;
  color: #183b56;
  font-weight: 500;
  font-family: 'DM sans';
}
.logo {
  width: 50px;
  height: 50px;
}
.menu {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  color: #183b56;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-card-items {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
}
.cancel-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
}
.logout-button {
  background-color: #ff951c;
  color: #ffffff;
  font-family: 'DM sans';
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 6px;
  width: 75px;
}
.title {
  color: #ff951c;
  font-family: 'DM sans';
  margin-left: 10px;
  font-weight: 500;
}
.website-logo-card {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 786px) {
  .header-container-for-small-device {
    display: none;
  }
  .title {
    font-size: 24px;
  }
}

.link {
  text-decoration: none;
}
.header-container-for-large-device {
  display: none;
}

@media screen and (min-width: 786px) {
  .header-container-for-large-device {
    display: flex;
    justify-content: space-between;
    background-color: #f8fafc;
    padding-left: 70px;
    padding-right: 70px;
  }
  .menu-card-small-device {
    display: none;
  }
}
.active {
  color: red;
}
.text-color {
  color: #fcb10d;
}
.list-color {
  color: #fcb10d;
}
